.swiper {
     height: 120px;
}
 .slider__wide {
     width: 100%;
    /* max-width: 908px;
     */
     margin: auto;
     padding: 10px 10px 10px;
     background: #fff;
    /* box-shadow: 0 0 3px rgb(60 72 88 / 15%) !important;
     */
     border-radius: 15px;
}
 .swiper-wrapper {
    /* padding-bottom: 20px;
     */
}
 .swiper-slide img {
     width: 100%;
     height: 120px;
     object-fit: cover;
    /* height: 200px;
     */
}
 .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
     bottom: 0 !important;
}
 .swiper-pagination-bullet {
     transition: 0.3s ease-in-out;
     background: red;
}
 .swiper-pagination-bullet.swiper-pagination-bullet-active {
     width: 40px;
     transform-origin: left;
     border-radius: 10px;
     background: blue;
}
 .parent {
     position: relative;
     width: 350px !important;
height: 120px !important;
}
 .child {
     background-color: rgba(0, 0, 0, 0.404);
     height: 100%;
     width: 100%;
     opacity: 0.1;
     padding: 10px;
     position: absolute;
     bottom: 0;
     color: white !important;
     opacity: 0;
}
 .description {
     font-size: 8px;
}
 .parent:hover .child {
     opacity: 1;
     transition: 0.3s ease-in;
}
 @media (max-width: 768px) {
     .swiper-slide img {
         height: 120px;
    }
     .banner_img{
         width: 50% !important;
    }
}
 .banner_img{
     width: 100%;
}
