.input-range__slider,
.input-range__track--active {
  background-color: #1066e7 !important;
}

.input-range__track--background {
  background-color: #8492a6 !important;
}

.input-range__label-container {
  font-family: "Poppins", sans-serif !important;
  font-size: 10px !important;
  color: #8492a6 !important;
  font-weight: 300 !important;
}

.tooltip {
  max-width: 250px;
}

